.box{
    display:flex;
    justify-content: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.text{
    color: rgb(200, 40, 15);
    text-align: center;
    margin-top: 3.5%;
    margin-left: 2.5vw;
}

.pic{
    border-radius: 64px;
    overflow:hidden;
} 