.box{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1vw;

    width: 80vw;
    height: 30vw;

    border: 0.2vw solid rgb(255,0,0);
    border-radius: 2vw;
}
.image{
    flex: 3;

    display: flex;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    background-color: rgb(0,255,255);;

    border: 0.01vw solid rgb(0,255,255);
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}
.image a{
    font-size: 0;
    display: flex;
    height: 100%;
    width: 100%;
}
.textbox{
    flex: 3;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    background-color: rgb(150, 150, 150);

    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.textbox h1{
    flex: 1;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

    background-color: rgb(125, 125, 125);

    font-size: 3vw;
    text-align: center;

    border: 0.01vw solid rgb(0,0,255);
    border-radius: 2vw;
}
.textbox p{
    flex: 4;
    margin-left: 0.5vw;
    margin-right: 0.5vw;

    font-size: 2vw;
    text-align: left;
    vertical-align: middle;
}