/*NAV: Main Site*/
body{
  background-color: rgb(173, 167, 167);
}
h1{
  color: red;
}

/*NAV: Navbar*/
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: slategrey;
  border-bottom: 1px solid #ddd;
}
.navbar a{ /*Links*/
  color:aliceblue;
  text-decoration: none;
  margin-left:12px;
  font-size: 2.2vw;
}
.navbar a:hover{
  color:burlywood;
  text-decoration: underline;
}
.logo{
  margin-left: 0;
  margin-right: auto;
}
.navpic{
  margin-left: 12px;
}